.game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scores {
    display: flex;
    gap: 20px;
}

.playerscore p,.computerscore p {
    font-size: 2rem;
    margin-left: 10px;
}

.playerscore,.computerscore{
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-choices {
    display: flex;
}

.options button {
    border: none;
    border-radius: 65%;
    background: transparent;
}